*{
    margin: 0px;
    padding: 0px;
}


.container{
    height: 100vh
}

.quadrado-azul{
    background-color: rgb(44, 44, 126);
    height: 200px;
    width: 200px;
}

.linha-1{
    display: flex;
    justify-content: space-between;
}

.linha-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-3{
display: flex;
align-items: end;
justify-content: space-between;
}

.linha{
    height: 33.33333%;
}

.quadrado-laranja{
    background-color: darkorange;
    height: 66.666px;
    width: 66.666px;
}

.metade{
    height: 50%;
}

.flex{
    display: flex;
}

.alinha-meio{
    justify-content: center;
}

.alinha-coluna-final{
    align-items: end;
}

.alinha-coluna-centro{
    align-items: center;
}

.centro-coluna{
    align-items: center;
    justify-content: center;
}

.meio {
    height: 100%;
}

.linha-final{
    justify-content: end;
}

.space-between{
    justify-content: space-between;
}

.dd{
    height: 66.6%;
}